[Unit]
After=graphical-session.target
PartOf=nav.service

[Service]
ExecStart=bash %h/nav/NavX/serial.bash
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
